<div class="row">
  <% @members.each do |member| %>
    <div class="col-xs-6">
      <div class="thumbnail">
        <%= image_tag member.profilepic.url(:medium) %>
      </div>
    </div>
    <div class="col-xs-8">
      <p>
        <strong>Occupation:</strong>
        <%= member.member_id %>
      </p>
      <p>
        <strong>Occupation:</strong>
        <%= member.email %>
      </p>
      <p>
        <strong>Birthday:</strong>
        <% if member.bday.blank? %>
          <%= member.bday %>
        <% else %>
          <%= member.bday.strftime('%-d %B %Y') %>
        <% end %>
      </p>
      <p>
        <strong>Occupation:</strong>
        <%= member.occupation %>
      </p>
      <%= link_to 'Edit', edit_member_path(member), class: "btn btn-default" %>
    </div>
  <% end %>
</div>
