<div class="row">
  <% @members.each do |member| %>
    <div class="col-xs-6">
      <div class="thumbnail">
        <%= image_tag member.profilepic.url(:medium) %>
      </div>
    </div>
    <div class="col-xs-8">
      <p>
        <strong>Member Id:</strong>
        <%= member.member_id %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= member.email %>
      </p>
      <p>
        <strong>Birthday:</strong>
        <%= member.bday %>
      </p>
      <p>
        <strong>Occupation:</strong>
        <%= member.occupation %>
      </p>
      <%= link_to 'Edit', edit_member_path(member), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
