<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @member.profilepic.url(:medium) %>
</p>

<p>
  <strong>Member:</strong>
  <%= @member.member_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Bday:</strong>
  <%= @member.bday %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @member.occupation %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
